bottom.text {
color: #FFC2B6;
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 122.233%; 
width: 418px;
height: 12px;
}

rectangle.prima 
{
border-radius: 30px;
background: #1D1216;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
width: 827px;
height: 462px;
}
rectangle.doi
{
border-radius: 30px;
border: 1px solid #000;
background: #FF7A66;
width: 832px;
height: 462px;
}

poza.prima 
{
    border: 1px solid #000;
background: url("Asta.png") lightgray 50% / cover no-repeat;
width: 461px;
height: 572px;
aspect-ratio: 54/67;
}
rec.trei{
    border-radius: 5px;
border: 1.5px solid #C7C7C7;
background: #FFF;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
width: 224px;
height: 27px;
}
parola.prima {
    color: #404040;
text-align: center;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: 122.233%;
width: 73px;
height: 14px;
}
rect.patru{
    border-radius: 5px;
border: 1.5px solid #C7C7C7;
background: #FFF;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
width: 224px;
height: 27px;
}
email.primu {
    color: #FFC2B6;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 122.233%;
width: 79px;
height: 18px; 
}
parola.doi {
    color: #FFC2B6;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 122.233%;
width: 79px;
height: 18px;
}
email.doi{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 122.233%;
width: 135px;
height: 15px;
}
rect.cinci {
    border-radius: 3px;
background: #FFC2B6;
width: 12px;
height: 12px;
}
authentification.prima{
    color: #FFC2B6;
text-align: center;
text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 122.233%;
width: 210px;
height: 64px;
}
authentification.doi{
    color: #2A2A2A;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 189.2%;
width: 210px;
height: 64px;
}
text.prima{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 122.233%;
width: 81px;
height: 15px;
}
parola.iar{
    color: #FF7A66;
text-align: center;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 700;
line-height: 122.233%;
width: 94px;
height: 14px;
}
rec.numar{
    color: #FF7A66;
text-align: center;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 700;
line-height: 122.233%;
width: 94px;
height: 14px;
}
style.prima{
    background: #FF7A66;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
width: 224px;
height: 27px;
}
parola.salut{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 122.233%; /* 12.223px */
width: 43px;
height: 15px;
}
logo.primu{
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    width: 113px;
height: 105px;
aspect-ratio: 113/105;
}
login.ceva{
    color: #FFC2B6;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 122.233%; /* 12.223px */
width: 189px;
height: 18px;
}
login.iar{
    border: 1px solid #FFF;
background: #FFC2B6;
width: 234px;
height: 29px;
}
ceva.iar{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 122.233%; /* 13.446px */
width: 100px;
height: 13px;
}